:host {
    width: 100%;
}

row-link:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.head-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
